@import url("style/header.css");
@import url("style/banner.css");
@import url("carrossel.css");
@import url("topicos.css");
@import url("contato.css");
@import url("rod");

:root{
    --cor-de-fundo: #6d6d6d65;
    --branco: #ffffff;
    --laranja: #00dbeb;
    --azul-degrade: linear-gradient(97.54deg, #000000 35.49%, #00eeff 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundario: "Josefin sans"
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--roboto);
    font-size: 16px;
    font-weight: 400px;
   
}


